{{extend 'layout1.html'}}
{{if len(notenames) > 0:}}
{{j=len(notenames)-1}}
{{for i in range(0,len(notenames)):}}
<div style="text-align:center">
	<form action="display" method="post"><button>{{=(i+1)}}</button>&nbsp;
		<input type="text" name="check" value="{{=notenames[j-i]['notename']}}" readonly/>&nbsp;&nbsp;
		<input type="submit" name="option" value="OPEN"/>
		<input type="submit" name="option" value="DELETE"/></form>
</div>
<br/>

{{pass}}
{{else:}}
<div style="text-align:center">
	<font size="5">{{="NO RESULTS FOUND"}}</font>
</div>
{{pass}}
